/*QuickAccessBar*/
.gallery{
    margin-top: 10vh;
}
#root{
    display: none;
}
li{
    cursor:pointer;
}
nav {
    text-align: center;
    font-family: 'Romanesco', cursive;
    font-size: xx-large !important;
}
body{
    color:black;
    font-family: 'Romanesco', cursive !important;
    font-size: 2vw !important;
}

#searchBtn {
    cursor: pointer;
    margin-top: 0;
}
.cover-info{
    right: 15%;
    position: absolute;
    top: 0;
    padding: 2%;
    width: 25%;
    background-color: white;
    text-align: center;
    font-size: 1.4vw;
    
}
.gallerycontent {
    display: inline !important;
    margin: 2vw;
}
.cover-info1{
    left: 15%;
    position: absolute;
    bottom: 0;
    padding: 2%;
    width: 25%;
    background-color: white;
    text-align: center;
    font-size: 1.6vw;
}

.cover-info2{
    left: 0;
    position: absolute;
    top: 0;
    padding: 2%;
    width: 25%;
    background-color: white;
    text-align: center;
    font-size: 1.6vw;
}
button[name="aboutus"] {
    background: rgba(250, 248, 248, 0.397);
    color: black;
    padding: 1%;
    border-radius: 3px;
    border:0;
    outline:none;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}
.searchBar {
    display: none;
    padding-left: 2.75rem;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.tips1{
    width: 104%;
}
#search {
    text-align: right;
}

.desktop {
    width: 100%;
}

li {
    display: block;
}
.info {
    background-color: #05050563;
    padding: 10%;
    position:absolute;
    left:32vw;
    top:0;
    color: white;
    font-family: 'Gayathri', sans-serif;
    font-size: 1vw;
}
.brand-info{
    text-align: center;
}
.footerborder{
    border-bottom: solid 1px grey;
    padding-bottom: 2%;
}
.pascalCover{
    height:600px;
    background-color: lightgrey;
}
a, a:hover, a:active, a:visited, a:link{
    color: inherit !important;
    text-decoration: none !important;
    cursor: pointer !important;
}
.shoppingCart{
    font-family: 'Cantarell', sans-serif !important;
    font-size: 1vw !important;
}
.pascaldesc{
    display: flex;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 22.3px 17.9px rgba(0, 0, 0, 0.072);
    justify-content: center;
}
.pascalnormal{
    justify-content: center;
    display: flex;
    color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  padding-top:200px;  
  width:100%;
  bottom:45%;
}
.padding-8{
    padding: 8%;
}
.w-f50{
    width: 50% !important;
}
.justify-flex-end{
    display: flex;
    justify-content: flex-end
}
.justify-flex-start{
    display: flex;
    justify-content: flex-start;
}
.justify-center{
    display: flex;
    justify-content: center;
}
.feedback {
    position: fixed;
    background-color: black;
    color: white;
    padding: 1vh;
    transform: rotate(90deg);
    right: 0vw;
    top: 16em;
    z-index: 90;
    font-size: 2vw;
    letter-spacing: 4px;
    
}

.cart-item-info {
    position: absolute;
    padding: 3%;
    z-index: 9999;
    background-color: #3532326b;
    width: auto;
    color: white;
    left: 0;
    top: 0;
    height: 100%;
}

.quickAccessItem {
    font-size: 18px !important;
    color: #7b7b7b !important;
    letter-spacing: 0 !important;
    line-height: 28px !important;
}

.quickAccessItemContainer {
    padding-top: 5px;
}

input {
    height: auto !important;
}


/*/QuickAccessBar*/


/*Header*/

header {
    text-align: center;
    font-family: cursive;
}


/*/Header*/


/*MenuBar*/

.menuBarItem {
    cursor: pointer;
    font-size: 2vw !important;
    color: #7b7b7b !important;
    letter-spacing: 0 !important;
    line-height: 15px !important;
}

.menuBarItem:hover {
    border-bottom: solid 1px #7b7b7b;
}

.pfooter{
    text-align: center;
    color:rgb(77, 70, 70);
    color:black;
    font-family: 'Cantarell', sans-serif;
    font-size: 2vh !important;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    
}

a[href="index.html"]{
    font-family: 'Romanesco', cursive;
}

.menuContentContainer {
    height: auto;
    position: absolute;
    background-color: white;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

.menuContentItem {
    width: 100%;
}

button:focus {
    outline: none;
}
.menuBottomContentItemDescription{
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 2vw;
}
.topContent {
    width: 100%;
    justify-content: center;
    display: flex;
    z-index: 10;
    background-color: white;
    padding-top: 2%;
    font-size: medium;
}

.carousel {
    width: 100% !important;
}
.safe{
    padding-right: 10%;
    padding-left: 10%;
}

.carouselContent {
    width: 100% !important;
}

.carouselContainer {
    text-align: center;
    background-color:white;
}
.list{
    padding: 2%;
    border-bottom: solid 1px grey;
}
.cart-content {
    justify-content: center;
    font-variant: all-small-caps;
    font-size: 1.2vw;
}
#brand {
    padding-left: 10%;
    padding-right: 10%;
}

.cart-container {
    padding: 2%;
}

.cart-item {
    display: none;
    margin-bottom: 2%;
    margin-left: 2%;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}

.filter {
    padding: 3%;
}
.mobile{
    object-fit: fill;
    width: 100vw !important;
    height: 100vh;
    padding: 0 !important;
    margin: 0;
}
.desktop{
    object-fit: fill;
    /*width: 20vw !important;
    height: 639px;*/
    padding: 0;
    margin: 0;
}
.t1{
    position: absolute!important;
    background-color: transparent;
    bottom:0;
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:grey;
    height: 1px;
  }
  .w-t30{
      width:30% !important;
  }
  .tiny{
    font-size: 0.5vw;
  }

  .gallerybtncont{
    align-content: flex-end;
  }
/*/MenuBar*/

@media screen and (min-width: 601px) {
    h1 {
        font-size: 4vw !important;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .w-f50{
        width: 100% !important;
    }
}
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 600px) {
    body{
        color:black;
        font-family: 'Romanesco', cursive !important;
        font-size: 5vw !important;
    }
    .menuBarItem {
        cursor: pointer;
        font-size: 7vw !important;
        color: #7b7b7b !important;
        letter-spacing: 0 !important;
        line-height: 15px !important;
    }
    .feedback {
        position: fixed;
        background-color: black;
        color: white;
        padding: 1vh;
        transform: rotate(90deg);
        right: 0vw;
        top: 12em;
        font-size: 7vw;
        letter-spacing: 4px;
        z-index: 90000;
        
    }
    .menuBottomContentItemDescription{
        height: auto;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 4vh;
    }
    button[name="aboutus"] {
        background: rgba(0, 0, 0, 0.397);
        color: white;
        padding: 1%;
        border-radius: 3px;
        border:0;
        outline:none;
    }
    .tiny{
        font-size: 3vw;
    }
    .cart-content {
        justify-content: center;
        font-variant: all-small-caps;
        font-size: 8.2vw;
    }
    .shoppingCart{
        font-family: 'Cantarell', sans-serif !important;
        font-size: 5vw !important;
    }
    .gallerycontent {
        display: inline !important;
        margin: 14vw;
    }
.pfooter{
    text-align: center;
    color:dimgray;
    font-family: 'Cantarell', sans-serif !important;
    padding: 5% !important;
    
}
    .cover-info{
        position: relative;
        padding: 2%;
        margin-top: 2vh;
        right: 0;
        bottom: 0;
        width: 100%;
        font-size: inherit !important;
        text-align: center;
        color:white;
        background-image: url(../images/aboutus.webp);
        background-position: top;
    }
    .cover-info1{
        position: relative;
        padding: 2%;
        margin-top: 2vh;
        left:0;
        bottom: 0;
        width: 100%;
        font-size: inherit !important;
        text-align: center;
        color:white;
        background-image: url(../images/aboutus.webp);
        background-position: bottom;
    }
    .cover-info2{
        position: relative;
        padding: 2%;
        margin-top: 2vh;
        left:0;
        bottom: 0;
        width: 100%;
        font-size: inherit !important;
        text-align: center;
        color:white;
        background-image: url(../images/aboutus.webp);
        background-position: bottom;
    }
    .tips1{
        width: auto;
    }
    h1 {
        font-size: 8vw !important;
    }
    .pascalnormal{
        justify-content: center;
        display: flex;
        color:#999;
      text-transform: uppercase;
      font-size:36px;
      font-weight:bold;
      padding-top:0px;  
      width:100%;
      bottom:45%;
    }
    .w-f50{
        width: 100% !important;
    }
    .justify-flex-end{
        display: flex;
        justify-content: center;
    }
    .justify-flex-start{
        display: flex;
        justify-content: center;
    }
    .info {
        background-color: #05050563;
        padding: 0;
        padding: 10%;
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 5vw;
    }
    .carousel{
        padding: 0 !important;
    }
    .t1{
        position: absolute!important;
        background-color: transparent;
        bottom:0;
        right:0
    }
    .t0{
        position: relative!important;
        z-index: 9;
    
    }
}
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
#flip {
    height:50px;
    overflow:hidden;
    text-transform: uppercase;
    font-size:36px;
    font-weight:bold;
    width:auto;
  }
  
  #flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:45px;
    width: auto;
    margin-bottom:45px;
    display:inline-block;
    font-family:'Roboto';
    text-align: center;
    
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  .gallerybtncont{
      padding: 2%;
  }
  .pbtn{
      background-color: black !important;
      color: white !important;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 22.3px 17.9px rgba(0, 0, 0, 0.072);
  }
  #flip div div {
    background:black
  }
  #flip div:first-child div {
    background:black;
  }
  #flip div:last-child div {
    background:black;
  }
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }